@charset "utf-8";

.svframe{
    width: 75%;
    margin: 0px auto;
    border-spacing: 15px 30px;
    text-align: left;
}

.newsvtxt{
    margin-left: 12%; 
    font-size: 20px;
    text-align: left; 
    padding-top: 55px;
    font-weight: bolder;
}

.thumbimg{
    width: 170px; 
    height: 190px;
    cursor:pointer;
}

.thmbtitle{
    padding-left: 3px;
    font-size: 16px;
    font-weight: border;
    cursor:pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    white-space: nowrap;
}

.thumbreward{
    padding-left: 3px;
    font-size: 12px;
    cursor:pointer;
}

.thumbviews{
    padding-left: 3px;
    color: rgb(136, 136, 136);
    font-size: 12px;
    cursor:pointer;
}

.hotthumbimg{
    width: 130px;
    height: 170px; 
    cursor:pointer;
}

.hotthumbtitle{
    font-size: 20px;
    font-weight: border;
    cursor:pointer;
}

.hotthumbcontent{
    font-size: 15px;
    cursor:pointer;
    vertical-align: top;
    height: 65px;
}

.hotthumbreward{   
    color: rgb(46, 46, 46);
    font-size: 13px;
    cursor:pointer;
    padding-bottom: 20px;    
    white-space: nowrap;
}

.hotthumbviews{
    color: rgb(136, 136, 136);
    font-size: 13px;
    cursor:pointer;
    padding-bottom: 20px;
    white-space: nowrap;
    width: 500px;
}

.mytable td , th{
    border-bottom: 1px solid rgba(85, 83, 83, 0.473);
    height: 30px;
}

.mytable td{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 230px;
    white-space: nowrap;
}

.mymenu{
    text-decoration: none;
    color: rgb(49, 49, 49);
    list-style: none;
    text-align: left;
    padding-left: 5px;
}

.mymenu li{
    height: 40px;
}