<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="/script/storage.js"></script>
</head>
<!-- body -->
<body style="height: 100vh">
    <div class="mainwrapper" style="height: 580px;">
        <div class="mainimg" style="width: 100%; height: 100%;">
            <!-- top bar -->
            <table class="topbar">
                <tr>
                    <td><a href="/"> <img class="logoimg" src="/img/logo.png"> </a></td>
                    <td><a href="/hotsv" class="menubartxt"> <b>인기설문</b></a></td>
                    <td><a href="/newsv" class="menubartxt"> <b>최신설문</b></a></td>
                    <td><a href="/enrollsv" class="menubartxt"> <b>설문등록</b></a></td>
                    <td><a href="/mypage" class="menubartxt"> <b>마이페이지</b></a></td>
                    <td style="width: 170px;">
                        <% if(login) {%>
                            <a class="logintxt" href="/mypage"> <%=username %> 님 </a>
                            <div style="display:inline-block; font-size: 15px; color: rgb(121, 121, 121); margin-left: 5px; margin-right: 5px;"> &middot;</div>
                            <a class="logintxt" href="/logout" style="margin-right:30px;"> 로그아웃 </a>
                        <% } else { %>
                            <a class="logintxt" href="/login"> 로그인 </a>
                            <div style="display:inline; font-size: 15px; color: rgb(121, 121, 121); margin-left: 5px; margin-right: 5px;"> &middot;</div>
                            <a class="logintxt" href="/register" style="margin-right:30px;"> 회원가입 </a>
                        <% } %>
                    </td>
                </tr>
            </table>

            <!--설명 글-->
            <div style="margin-left: 90px; margin-top: 50px;">
                <div style="display: block; text-align: left;  margin-left: 5px; margin-bottom:10px;">설문조사를 모두 모아 </div>
                <img style="display: block" src="/img/shadowlogo.png"/>
                <div style="display: block; text-align: left; margin-left: 5px; margin-top:30px;">
                    설문참여로 선물 받고 싶을 때<br>
                    설문조사 홍보가 힘들 때<br>
                </div>
                <img style="display: block; width: 100px; height: 35px; margin-top: 30px; margin-left: 5px; cursor: pointer" src="/img/enrollbtn.png" onclick="location.href='/newsv'">
            </div>
            
            
        </div>
        <!--bottom banner-->
        <div class="bottombanner">
            <table class="bottable">
                <tr>
                    <td>이용약관</td>
                    <td>개인정보처리방침</td>
                    <td>고객문의</td>
                </tr>
            </table>
            <div style="color: rgb(100, 100, 100); font-size: 11px;">Copyright © MODUSURVEY. All Rights Reserved.</div>
        </div>
    </div>
</body>

</html>