<!DOCTYPE html>
<html>
    <head>
        <meta  charset="utf-8">
        <link rel = "stylesheet" type = "text/css" href="/css/main.css">
        <script defer src="/__/firebase/6.6.2/firebase-app.js"></script>
        <script defer src="/__/firebase/init.js"></script>
    </head>
    <!-- body -->   
    <body> 
        <!-- top bar -->  
        <div class="top_bar">
            <div style="flex-grow: 1; width: 300px;"></div>
            <div style="flex-grow: 1; width: 300px;">
                <a href="/"> <img style="height: 50px; vertical-align: middle;" src="/img/logo.png"> </a>
            </div>
            <div style="flex-grow: 1; width: 300px; white-space: nowrap;">
                <% if(login) {%>
                    <div class="login"> <%=username %> 님 환영합니다!</div>
                    <div style="display:inline; font-size: 25px; color: rgb(121, 121, 121); margin-left: 4px; margin-right: 4px;">&middot;</div>
                    <div class="join"> <a href="/logout" style="color: rgb(121, 121, 121);"> 로그아웃 </a></div>
                <% } else { %>
                    <div class="login"> <a href="/login" style="color: rgb(121, 121, 121);"> 로그인 </a></div>
                    <div style="display:inline; font-size: 25px; color: rgb(121, 121, 121); margin-left: 4px; margin-right: 4px;">&middot;</div>
                    <div class="join"> <a href="/register" style="color: rgb(121, 121, 121);"> 회원가입 </a></div>
                <% } %>
            </div>
        </div>
        <!-- menu bar -->
        <div class="menu_bar">
            <div> <a href = "/joinsv" style="color: rgb(87, 87, 87);"> <b>설문참여</b> </a></div>
            <div> <a href="/enrollsv" style="color: rgb(87, 87, 87);"> <b>설문등록</b> </a></div>
            <div> <a href="/mypage" style="color: rgb(87, 87, 87);"> <b>마이페이지</b> </a></div>
        </div>
        <!-- content -->  
        <div class="main_con">      
            <div style="width:1100px; margin:0 auto;">
                <div style="display: inline-block; width: 1100px; height: 100%; ">
                    
                <div style="text-align:left;">설문 내용</p>
                    <table>
                        <tr>
                            <td><label>제목</label></td>
                            <td><%= data.title %></td>
                        </tr>
                        <tr>
                            <td><label>링크</label></td>
                            <td><%= data.link %></td>
                        </tr>                        
                        <tr>
                            <td><label>내용</label></td>
                            <td><%= data.content %></td>
                        </tr>
                        <tr>
                            <td><label>사진</label></td>
                            <td><%= data.photo %></td>
                        </tr>
                        <tr>
                            <td><label>보상</label></td>
                            <td><%= data.reward %></td>
                        </tr>                    
                    </table>    
                    <%if(username == data.id) {%>
                    <input type="button" value="수정" style="float:none; margin:0;" onclick="location.href='/edit/<%= data.num %>'" />
                    <input type="button" value="삭제" style="float:none; margin:0;" onclick="location.href='/delete/<%= data.num %>'" />
                    <input type="button" value="목록" style="float:none; margin:0;" onclick="location.href='/joinsv'" />
                    <%}%>    
                </div>
            </div>
        </div>
    </body>
</html>