<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/svlist.css">
</head>
<!-- body -->

<body>
    <div class="mainwrapper">
        <!-- top bar -->
        <div class="mainimg">
            <table class="topbar">
                <tr>
                    <td><a href="/"> <img class="logoimg" src="/img/logo.png"> </a></td>
                    <td><a href="/hotsv" class="menubartxt"> <b>인기설문</b></a></td>
                    <td>
                        <a href="/newsv" class="menubartxt"> <b>최신설문</b></a>
                    </td>
                    <td><a href="/enrollsv" class="menubartxt"> <b>설문등록</b></a></td>
                    <td><a href="/mypage" class="menubartxt"> <b>마이페이지</b></a></td>
                    <td style="width: 170px;">
                        <% if(login) {%>
                        <a class="logintxt" href="/mypage"> <%=username %> 님 </a>
                        <div
                            style="display:inline-block; font-size: 15px; color: rgb(121, 121, 121); margin-left: 5px; margin-right: 5px;">
                            &middot;</div>
                        <a class="logintxt" href="/logout" style="margin-right:30px;"> 로그아웃 </a>
                        <% } else { %>
                        <a class="logintxt" href="/login"> 로그인 </a>
                        <div
                            style="display:inline; font-size: 15px; color: rgb(121, 121, 121); margin-left: 5px; margin-right: 5px;">
                            &middot;</div>
                        <a class="logintxt" href="/register" style="margin-right:30px;"> 회원가입 </a>
                        <% } %>
                    </td>
                </tr>
            </table>
        </div>
        <!-- content -->
        <div class="main_con">
            <div style="padding-top: 55px;"></div> 
            <form method="post">
                <table style="margin: 0px auto;">
                    <tr><td colspan="2" style="text-align: left; font-size:20px; font-weight: bolder; padding-bottom: 30px;">설문 수정</td></tr>                  
                    <tr>
                        <td>제목</td>
                        <td><input style="width:500px; margin-left: 20px;" type="text" name="title" value="<%=data.title%>" required /></td>
                    </tr>
                    <tr>
                        <td>링크</td>
                        <td><input style="width:500px; margin-left: 20px;" type="text" name="link" value="<%=data.link%>" required /></td>
                    </tr>
                    <tr>
                        <td>내용</td>
                        <td><textarea style="width:500px; height: 300px; margin-left: 20px;" type="text" name="content"required ><%=data.content%></textarea></td>
                    </tr>
                    <tr>
                        <td rowspan="2">사진</td>
                        <td style="width: 500px; text-align: left; height: 50px; padding-left: 20px;">                                
                            <img src="<%= data.photo %>" width="100px" height="120px" id="originImg">
                            <input type="button" value="수정하기" id="editImgBtn" onclick="editImg();"/>    
                                                        
                                <!--수정하기 클릭 시-->
                                <script>
                                function editImg(){                                        
                                    document.getElementById('photoImg').style.display='inline-block';
                                    document.getElementById('uploadBtn').style.display='inline-block';                                        
                                    document.getElementById('editImgBtn').style.display='none';
                                    document.getElementById('originImg').style.display='none';
                                }
                                </script>

                                <input style="display: none; width:200px; padding-left: 20px;" type="file" accept="image/*" name="photoImg" id="photoImg" />                                    
                                <input style="display: none;" type="button" onclick="upfile()" value="업로드" id="uploadBtn" />                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input style="display: none" type="text" name="photo" id="photo" value="<%=data.photo%>"/>
                            <div style="padding-left: 20px; text-align: left;" id="myimg"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>보상</td>
                        <td><input style="width:500px; margin-left: 20px;" type="text" name="reward" value="<%=data.reward%>" required /></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding:30px 0px; float:none; margin:0;"> 
                            <input type="submit" value="확인" style="margin-right: 5px;" />
                            <input type="button" value="취소" style="margin-left: 5px;" onclick="history.back()" />
                        </td>
                    </tr>
                </table>   
            </form>  
        </div>
    </div>

        <!--bottom banner-->
        <div class="bottombanner">
            <table class="bottable">
                <tr>
                    <td>이용약관</td>
                    <td>개인정보처리방침</td>
                    <td>고객문의</td>
                </tr>
            </table>
            <div style="color: rgb(100, 100, 100); font-size: 11px;">Copyright © MODUSURVEY. All Rights Reserved.</div>
        </div>

        <!--파일 업로드-->
        <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-storage.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>

        <script>
            // Your web apps Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyAbf5diDxtGfsIq4_AxeL9xRKqih8kZXQk",
                authDomain: "modu-survey.firebaseapp.com",
                databaseURL: "https://modu-survey.firebaseio.com",
                projectId: "modu-survey",
                storageBucket: "modu-survey.appspot.com",
                messagingSenderId: "560434797628",
                appId: "1:560434797628:web:9df79c7bb8fafe98d43739",
                measurementId: "G-4W5JPS689E"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();
            function upfile() {
                // Create a root reference
                var storageRef = firebase.storage().ref("/images");
                var file = document.getElementById("photoImg").files[0];

                // Create the file metadata
                var metadata = {
                    contentType: 'image/jpeg'
                };

                // Upload file and metadata to the object 'images/mountains.jpg'
                //var uploadTask = storageRef.child('images/' + file.name).put(file, metadata);

                var uploadTask = storageRef.child(file.name).put(file, metadata);

                // Listen for state changes, errors, and completion of the upload.

                uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
                    function (snapshot) {
                        // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
                        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                        console.log('Upload is ' + progress + '% done');
                        switch (snapshot.state) {
                            case firebase.storage.TaskState.PAUSED: // or 'paused'
                                console.log('Upload is paused');
                                break;

                            case firebase.storage.TaskState.RUNNING: // or 'running'
                                console.log('Upload is running');
                                break;
                        }

                    }, function (error) {
                        // A full list of error codes is available at
                        // https://firebase.google.com/docs/storage/web/handle-errors

                        switch (error.code) {
                            case 'storage/unauthorized':
                                // User doesn''t have permission to access the object
                                break;

                            case 'storage/canceled':
                                // User canceled the upload
                                break;

                            case 'storage/unknown':
                                // Unknown error occurred, inspect error.serverResponse
                                break;

                            default:
                                // Unknown error occurred, inspect error.serverResponse
                                alert("upload error");
                                break;
                        }
                    }, function () {
                        // Upload completed successfully, now we can get the download URL
                        uploadTask.snapshot.ref.getDownloadURL().then(function (downloadURL) {
                            //console.log('File available at', downloadURL);
                            var elem = document.createElement("img");

                            elem.setAttribute("src", downloadURL);
                            elem.setAttribute("height", "100");
                            elem.setAttribute("width", "100");
                            document.getElementById("myimg").appendChild(elem);

                            document.getElementById("photo").value = downloadURL;

                        });
                    });
            }
        </script>
    </body>

</html>