<!DOCTYPE html>
<html>
    <head>
        <meta  charset="utf-8">
        <link rel = "stylesheet" type = "text/css" href="/css/main.css">
        <script defer src="/__/firebase/6.6.2/firebase-app.js"></script>
        <script defer src="/__/firebase/init.js"></script>
    </head>
    <!-- body -->   
    <body> 
        <!-- top bar -->  
        <div class="top_bar">
            <div style="flex-grow: 1; width: 300px;"></div>
            <div style="flex-grow: 1; width: 300px;">
                <a href="/"> <img style="height: 50px; vertical-align: middle;" src="img/logo.png"> </a>
            </div>
            <div style="flex-grow: 1; width: 300px; white-space: nowrap;">
                <% if(login) {%>
                    <div class="login"> <%=username %> 님 환영합니다!</div>
                    <div style="display:inline; font-size: 25px; color: rgb(121, 121, 121); margin-left: 4px; margin-right: 4px;">&middot;</div>
                    <div class="join"> <a href="/logout" style="color: rgb(121, 121, 121);"> 로그아웃 </a></div>
                <% } else { %>
                    <div class="login"> <a href="/login" style="color: rgb(121, 121, 121);"> 로그인 </a></div>
                    <div style="display:inline; font-size: 25px; color: rgb(121, 121, 121); margin-left: 4px; margin-right: 4px;">&middot;</div>
                    <div class="join"> <a href="/register" style="color: rgb(121, 121, 121);"> 회원가입 </a></div>
                <% } %>
            </div>
        </div>
        <!-- menu bar -->
        <div class="menu_bar">
            <div> <a href = "/joinsv" style="color: rgb(87, 87, 87);"> <b>설문참여</b> </a></div>
            <div> <a href="/enrollsv" style="color: rgb(87, 87, 87);"> <b>설문등록</b> </a></div>
            <div> <a href="/mypage" style="color: rgb(87, 87, 87);"> <b>마이페이지</b> </a></div>
        </div>
        <!-- content -->  
        <div class="main_con">      
            <div style="width:1100px; margin:0 auto;">
                <div style="display: inline-block; width: 1100px; height: 100%; ">
                    
                <p style="text-align:left;">설문 등록</p>

                <form action="/enrollsv" method="post">
                    <table>
                        <tr>
                            <td><label>제목</label></td>
                            <td><input type="text" name="title" /></td>
                        </tr>
                        <tr>
                            <td><label>링크</label></td>
                            <td><input type="text" name="link" /></td>
                        </tr>                        
                        <tr>
                            <td><label>내용</label></td>
                            <td><input type="text" name="content" /></td>
                        </tr>
                        <tr>
                            <td><label>사진</label></td>
                            <td><input type="file" name="photo" /></td>
                        </tr>
                        <tr>
                            <td><label>보상</label></td>
                            <td><input type="text" name="reward" /></td>
                        </tr>
                    </table>
                    <input type="submit" style="float:none; margin:0;" />
                </form>

                <!--파일 업로드-->
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const storageRef = firebase.storage().ref();
                        let selectedFile;
                    
                        // File 선택
                        document.querySelector('.file-select').addEventListener('change', e => {
                            selectedFile = e.target.files[0];
                        });
                    
                        // File 업로드
                        document.querySelector('.file-submit').addEventListener('click', () => {
                            storageRef
                                    .child(`images/${selectedFile.name}`)
                                    .put(selectedFile)
                                    .on('state_changed', snapshot => {
                                                                console.log(snapshot)
                                                            }, error => {
                                                                console.log(error);
                                                            }, () => {
                                                                console.log('성공');
                                                            }
                                    );
                        });
                    });
                    </script>

                </div>
            </div>
        </div>
    </body>
</html>