<!DOCTYPE html>
<html>
    <head>
        <meta  charset="utf-8">
        <link rel = "stylesheet" type = "text/css" href="/css/main.css">
    </head>
    <!-- body -->   
    <body> 
        <!-- top bar -->  
        <div class="top_bar">
            <div style="flex-grow: 1; width: 300px;"></div>
            <div style="flex-grow: 1; width: 300px;">
                <a href="/"> <img style="height: 50px; vertical-align: middle;" src="/img/logo.png"> </a>
            </div>
            <div style="flex-grow: 1; width: 300px; white-space: nowrap;">
                <% if(login) {%>
                    <div class="login"> <%=username %> 님 환영합니다!</div>
                    <div style="display:inline; font-size: 25px; color: rgb(121, 121, 121); margin-left: 4px; margin-right: 4px;">&middot;</div>
                    <div class="join"> <a href="/logout" style="color: rgb(121, 121, 121);"> 로그아웃 </a></div>
                <% } else { %>
                    <div class="login"> <a href="/login" style="color: rgb(121, 121, 121);"> 로그인 </a></div>
                    <div style="display:inline; font-size: 25px; color: rgb(121, 121, 121); margin-left: 4px; margin-right: 4px;">&middot;</div>
                    <div class="join"> <a href="/register" style="color: rgb(121, 121, 121);"> 회원가입 </a></div>
                <% } %>
            </div>
        </div>
        <!-- menu bar -->
        <div class="menu_bar">
            <div> <a href = "/joinsv" style="color: rgb(87, 87, 87);"> <b>설문참여</b> </a></div>
            <div> <a href="/enrollsv" style="color: rgb(87, 87, 87);"> <b>설문등록</b> </a></div>
            <div> <a href="/mypage" style="color: rgb(87, 87, 87);"> <b>마이페이지</b> </a></div>
        </div>
        <!-- content -->  
        <div class="main_con">      
            <div style="width:1100px; margin:0 auto;">

                <!-- 내가 쓴 글 -->
                <div style="margin-top: 30px;"></div>          
                <div style="display: inline-block; width: 1100px; text-align: left; font-size: 20px; white-space: nowrap; margin-bottom: 30px">내가 작성한 설문</div>
                </div>           
                <div style="margin:0 auto; width:1100px; height: 350px; background-color: rgb(199, 214, 230);">
                    <table width="100%">
                        <tr>
                            <th>num</th>
                            <th>ID</th>
                            <th>title</th>
                            <th>link</th>
                            <th>content </th>
                            <th>photo</th>
                            <th>reward</th>
                            <th>조회수</th>
                        </tr>
                        <% data.forEach(function(item, index) { %>                            
                            <tr style="cursor:pointer;" onclick="location.href='/svpage/<%= item.num %>'">                
                                <td><%= item.num %> </td>
                                <td><%= item.id %> </td>
                                <td><%= item.title %> </td>
                                <td><%= item.link %> </td>
                                <td><%= item.content %> </td>
                                <td> <img src="<%= item.photo %>" width="30px" height="50px">  </td>
                                <td><%= item.reward %> </td>  
                                <td><%= item.views %></td>                          
                            </tr>                        
                        <% }); %>
                    </table>        
                </div>  
                </div>
            </div>
        </div>
    </body>
</html>